<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joan.figurasaleatorias" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Figuras Aleatorias"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".DrawingExampleLauncher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawShapes1"
            android:label="DrawShapes1">
        </activity>
        <activity
            android:name=".DrawShapes2"
            android:label="DrawShapes2">
        </activity>
        <activity
            android:name=".DrawShapes3"
            android:label="DrawShapes3">
        </activity>
        <activity
            android:name=".PantallaFinal"
            android:label="PantallaFinal">
        </activity>
        <activity
            android:name=".UltimaPantalla"
            android:label="PantallaFinal">
        </activity>
    </application>

</manifest>
